{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Profile" %}
{% endblock head_title %}
{% block content %}
    {% csrf_token %}
    <form class="d-flex mb-3" method="get" action="/">
        <input class="form-control me-2" type="search" placeholder="Search" name="query" aria-label="Search" />
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    {% for profile in page_obj %}
        <div class="card">
            <div class="card-body row">
                <div class="col-7">
                    <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                    <h6 class="class-subtitle">Age: {{ profile.age }}</h6>
                    <h6 class="class-subtitle">{{ profile.user.email }}</h6>
                    <p class="card-text">{{ profile.about }}</p>
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <img src="{{ profile.image.url }}"
                             alt="profile_pic"
                             height="150"
                             width="150"
                             class="rounded-circle"/>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row">
                        <div class="d-flex flex-row-reverse">
                            <button class="btn btn-success m-1"
                                    onclick="openRequestModal({{ profile.id }})">Send Chat Request</button>
                            <button class="btn btn-warning m-1" onclick="block({{ profile.id }})">Block</button>
                            <button class="btn btn-secondary m-1"
                                    onclick="openReportModal({{ profile.id }})">Report</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1"><< first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last >></a>
            {% endif %}
        </span>
    </div>
    <div class="modal fade"
         id="chatRequestModal"
         tabindex="-1"
         aria-labelledby="chatRequestModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chatRequestModalLabel">Send Chat Request to placeholder</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea name="message"
                              class="form-area"
                              id="chatRequestMessage"
                              cols="30"
                              rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button"
                            onclick="sendRequest()"
                            id="chatRequestModalBtn"
                            class="btn btn-success">Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="reportModal"
         tabindex="-1"
         aria-labelledby="reportModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">Report placeholder</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea name="message"
                              class="form-area"
                              id="reportMessage"
                              cols="30"
                              rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button"
                            onclick="sendReport()"
                            id="reportModalBtn"
                            class="btn btn-warning">Report</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
