{% extends "mod/base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Reports" %}
{% endblock head_title %}
{% block content %}
    {% csrf_token %}
    <div>
        {% for report in page_obj %}
            <div class="card">
                <div class="card-body row">
                    <div class="col-7">
                        <h5 class="card-title">{{ report.reported.first_name }} {{ report.reported.last_name }}</h5>
                        <h6 class="class-subtitle">Age: {{ report.reported.age }}</h6>
                        <h6 class="class-subtitle">{{ report.reported.user.email }}</h6>
                        <p class="card-text">{{ report.reported.about }}</p>
                        <h6 class="class-subtitle">Report Message:</h6>
                        <p class="card-text">{{ report.message }}</p>
                    </div>
                    <div class="col-3">
                        <div class="text-center">
                            <img src="{{ report.reported.image.url }}"
                                 alt="profile_pic"
                                 height="150"
                                 width="150"
                                 class="rounded-circle"/>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-danger m-1" onclick="openDeleteAccountModal({{ report.id }})">Delete Account</button>
                                <button class="btn btn-warning m-1" onclick="deleteReport({{ report.id }})">Delete Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1"> << first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last >></a>
            {% endif %}
        </span>
    </div>

    <div class="modal fade"
         id="deleteAccountModal"
         tabindex="-1"
         aria-labelledby="deleteAccountModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountModalLabel">Are you sure you want to delete the account?</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="deleteAccount()" id="deleteAccountModalBtn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
