{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}
  {% trans "Profile" %}
{% endblock head_title %}
{% block content %}
  <div class="row">
    <div class="col-3">
      <div class="text-center">
        <img src="{{ request.user.userprofile.image.url }}"
             alt="profile_pic"
             height="200"
             width="200"
             class="rounded-circle"/>
      </div>
    </div>
    <div class="col-9">
      <form method="post" id="profile" class="card-body">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class"btn btn-primary>
      </form>
    </div>
  </div>
{% endblock content %}
