{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="email">Email</label><br>
    <input type="text" name="email" value="{{ user.email }}" disabled>
    <br>
    <label for="age">Age</label><br>
    <input type="number" name="age" min="18" max="100" value="{{ profile.age }}" required>
    <br>
    <label for="fname">First Name</label><br>
    <input type="text" name="fname" value="{{ profile.first_name }}" required>
    <br>
    <label for="lname">Last Name</label><br>
    <input type="text" name="lname" value="{{ profile.last_name }}">
    <br><br>
    <input type="submit" value="Update Profile">
  </form>
{% endblock %}